<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Campground Names</h1>
  <ul>
    <% for(let c of Camp){ %>
      <a href="/campgrounds/<%= c.id %>"><%= c.title %></a><br>
      <% } %>
  </ul>
  <a href="/campgrounds/new">Make new Camp</a>
</body>
</html>