<%layout('layouts/boilerplate') %>
  <h1>Campground Names</h1>
  <ul>
    <% for(let c of Camp){ %>
      <a href="/campgrounds/<%= c.id %>"><%= c.title %></a><br>
      <% } %>
  </ul>
  <a href="/campgrounds/new">Make new Camp</a>
