<%layout('layouts/boilerplate') %>
  
  <main class="container mt-3">
    <h1 class="text-center"> New Campground</h1>
    <form action="/campgrounds" method="post">
      <div class="row">
        <!-- //col-6 specifies that the content block occupies 6 columns, and offset-3 means that it is pushed to the right by 3 columns.  -->
        <div class="col-6 offset-3">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Enter the title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="The Orchards"name="camp[title]">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Enter the location</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Muzaffarpur,Bihar"name="camp[location]">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Enter the price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="$0.00" name="camp[price]" aria-describedby="price-label">
            </div>
            
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="http://" name="camp[image]">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Description:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="A place you will never forget" name="camp[desctiption]">
          </div>
          
            <button type="submit" class="btn btn-primary btn-lg ">SUBMIT</button>
          
        </div>
      </div>
    </form>
    
  </main>
  